div {
	height: 125px;
	width: 125px;
	outline: solid 2px green;
	display: inline-block;
	background-color: white;
}

#outside {
	height: 500px;
	width: 500px;
	margin-left: 400px;
	margin-top: 30px;

}

.over {
	background-color: black;
	border: none;
}

button {
	top: 10px;
	display: block;
	margin: auto;
	height: 30px;
	width: 50px;
	border-radius: 5px;
	background-color: white;

}

button:hover {
	background-color: green;
	color: white;
}